*{
  margin: 1px;
  padding: 0px;  
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(203, 198, 198);
    color: blue;
}
a{
    text-decoration: none;
    padding: 5px;
    width: 25%;
    text-align: center;
    font-weight: 500;
    font-family:'Times New Roman', Times, serif;
    color: blue;
}
a:hover
{
    color: white;
    background-color: gray;

}